<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'LR/style.css' %}"> -->
</head>

<body>
  <div class="container center">
    <nav>
      <div class="nav-wrapper blue">
        <a class="brand-logo center" href="/">Quottit</a>
      </div>
    </nav>
    <div class="row">
      <div class="col s12 m6">
        <div class="login card-panel">
          <h3 >Log In</h3>
          <hr class="blue">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li style="color:red" {%if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <form action="/login" method="post">
            {% csrf_token %}
            <div class="input-field col s12">
              <input name="email" type="email">
              <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
              <input name="password" type="password">
              <label for="password">Password</label>
            </div>
            <input type="submit" name="submit" value="Login" class="btn blue darken-1 waves-effect waves-light">
          </form>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="register card-panel">
          <h3>Register</h3>
          <hr class="blue">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li style="color:red" {%if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <form class="" action="/register" method="post">
            {% csrf_token %}
            <div class="input-field col s12">
              <input name="name" type="text">
              <label for="name">Name</label>
            </div>
            <div class="input-field col s12">
              <input name="username" type="text">
              <label for="username">Username</label>
            </div>
            <div class="input-field col s12">
              <input name="birthday" id="birthday" type="date">
              <label for="birthday">Birthday</label>
            </div>
            <div class="input-field col s12">
              <input name="email" type="email">
              <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
              <input name="password" type="password">
              <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
              <input name="confirm" type="password">
              <label for="confirm">Confirm Password</label>
            </div>
            <input type="submit" name="submit" value="Register" class="btn blue darken-1 waves-effect waves-light">
          </form>
        </div>
      </div>

    </div>
    <!--end row-->
  </div> <!-- end container -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $('.datepicker').datepicker();
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>

</html>